:host{
    background: #fff;
    display: block;
}
.nav-holder{
 height: 100vh;  
 background: #fff !important;
 color:#000; 

}

.sidenav-content {
    display: block;
    height: 100%;
    width: 100%;
   // align-items: center;
   // justify-content: center;
  }
  
  .sidenav {
    padding: 20px;
    background: #fff !important;
  
    .mat-list-item{
        color:gray; 
    }
  }

  /deep/.mat-tab-label{
      color:black;
  }
  .tab-icon{
      padding-right: 50px;
  }