
:host{
    background: #33A8FF;
    display: block;
    height: 100vh;
    color:#fff;
    padding-top: 30vh;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  .holder{
     // margin-top: 25%;
     width: 400px;
     display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }


  